include blocks/head
	block content
		header
			ul.nav
				li.logo.nav--item
					a(href="#")
						img(src="img/logo.png", alt="logo")
				li.nav--item
					a(href="#") Каталог
				li.nav--item
					a(href="#") Конструктор
				li.nav--item
					a(href="#") о компании 
				li.nav--item
					a(href="#") доставка и оплата 
				li.nav--item
					a(href="#") контакты
				li.tel.nav--item
					a(href="tel:89203150276") 8(920)315-02-76
			a(href="").basket
				| Перейти в корзину
		section.section--top.section--top__nocounter
			h1.page-h1 
				|о компании
		section.section--benefits.section__separator.section__separator__h2
			h2.page-h2 Мы производим сладкие подарки уже более 10 лет 
		section.section--about
			img.float__right.size__third(src="img/about.jpg", alt="about")
			h3 О компании
			br
			p.text__black.text__justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat assumenda veritatis error fugit suscipit minima obcaecati esse quo unde harum consequuntur totam iste ab at commodi cumque reprehenderit dolores, ducimus vero, aut beatae ad, atque quidem soluta. Quisquam veritatis quod aut labore rem, qui perspiciatis, sequi assumenda recusandae eaque odio?
			br
			p.text__black.text__justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat assumenda veritatis error fugit suscipit minima obcaecati esse quo unde harum consequuntur totam iste ab at commodi cumque reprehenderit dolores, ducimus vero, aut beatae ad, atque quidem soluta. Quisquam veritatis quod aut labore rem, qui perspiciatis, sequi assumenda recusandae eaque odio?
			br
			p.text__black.text__justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat assumenda veritatis error fugit suscipit minima obcaecati esse quo unde harum consequuntur totam iste ab at commodi cumque reprehenderit dolores, ducimus vero, aut beatae ad, atque quidem soluta. Quisquam veritatis quod aut labore rem, qui perspiciatis, sequi assumenda recusandae eaque odio?
			br
			p.text__black.text__justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat assumenda veritatis error fugit suscipit minima obcaecati esse quo unde harum consequuntur totam iste ab at commodi cumque reprehenderit dolores, ducimus vero, aut beatae ad, atque quidem soluta. Quisquam veritatis quod aut labore rem, qui perspiciatis, sequi assumenda recusandae eaque odio?
			br
			p.text__black.text__justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat assumenda veritatis error fugit suscipit minima obcaecati esse quo unde harum consequuntur totam iste ab at commodi cumque reprehenderit dolores, ducimus vero, aut beatae ad, atque quidem soluta. Quisquam veritatis quod aut labore rem, qui perspiciatis, sequi assumenda recusandae eaque odio?
		section.section--waranty
			img(src="img/waranty.jpg", alt="waranty")
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		section.section--slide.owl-carousel.slide-one
			.item
				.flex.flex__x__between
					img(src="img/img.svg", alt="img")
					img(src="img/img.svg", alt="img")
					img(src="img/img.svg", alt="img")
					img(src="img/img.svg", alt="img")
					img(src="img/img.svg", alt="img")
					img(src="img/img.svg", alt="img")
			.item
				.flex.flex__x__between
					img(src="img/img.svg", alt="img")
					img(src="img/img.svg", alt="img")
					img(src="img/img.svg", alt="img")
					img(src="img/img.svg", alt="img")
					img(src="img/img.svg", alt="img")
					img(src="img/img.svg", alt="img")
			.item
				.flex.flex__x__between
					img(src="img/img.svg", alt="img")
					img(src="img/img.svg", alt="img")
					img(src="img/img.svg", alt="img")
					img(src="img/img.svg", alt="img")
					img(src="img/img.svg", alt="img")
					img(src="img/img.svg", alt="img")

		section.section__separator.section__separator__end
	
	include blocks/footer 