include blocks/head
	block content
		header
			ul.nav
				li.logo.nav--item
					a(href="#")
						img(src="img/logo.png", alt="logo")
				li.nav--item
					a(href="#") Каталог
				li.nav--item
					a(href="#") Конструктор
				li.nav--item
					a(href="#") о компании 
				li.nav--item
					a(href="#") доставка и оплата 
				li.nav--item
					a(href="#") контакты
				li.tel.nav--item
					a(href="tel:89203150276") 8(920)315-02-76
			a(href="").basket
				| Перейти в корзину
		section.section--top
			.counter
				p До нового года:
				p.days
				p.hours
				p.minutes
				p.seconds
			h1.page-h1 Акции /оптом
		section.section--benefits.section__separator
			section
				article.benefits--item
					img(src="img/benefit-1.png", alt="benefit")
					p Конструктор
						br
						| новогоднего подарка
				article.benefits--item
					img(src="img/benefit-2.png", alt="benefit")
					p Бесплатная доставка
						br
						| по всей России!
				article.benefits--item
					img(src="img/benefit-3.png", alt="benefit")
					p Скидки до 31 октября 
		section.section--hits.section--hits__normal
			h2.page-h2 Вы можете собрать новогодний подарок сами
			.border-box--wrapper
				.border-box
					p.text__justify.text__black
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat voluptas vero numquam sint provident eaque molestias deleniti aliquam quo unde repudiandae vitae totam tempore voluptates eius mollitia dolorum, commodi iure, ipsa animi! Voluptatem soluta eligendi quia cupiditate laborum sed nam voluptate omnis, voluptas non vel quasi dignissimos enim quam. Molestias.
					p.text__justify.text__black
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat voluptas vero numquam sint provident eaque molestias deleniti aliquam quo unde repudiandae vitae totam tempore voluptates eius mollitia dolorum, commodi iure, ipsa animi! Voluptatem soluta eligendi quia cupiditate laborum sed nam voluptate omnis, voluptas non vel quasi dignissimos enim quam. Molestias.
					p.text__justify.text__black
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat voluptas vero numquam sint provident eaque molestias deleniti aliquam quo unde repudiandae vitae totam tempore voluptates eius mollitia dolorum, commodi iure, ipsa animi! Voluptatem soluta eligendi quia cupiditate laborum sed nam voluptate omnis, voluptas non vel quasi dignissimos enim quam. Molestias.
					p.text__justify.text__black
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat voluptas vero numquam sint provident eaque molestias deleniti aliquam quo unde repudiandae vitae totam tempore voluptates eius mollitia dolorum, commodi iure, ipsa animi! Voluptatem soluta eligendi quia cupiditate laborum sed nam voluptate omnis, voluptas non vel quasi dignissimos enim quam. Molestias.
		section.section__separator.section__separator__end
	
	include blocks/footer 