include blocks/head
	block content
		header
			ul.nav
				li.logo.nav--item
					a(href="#")
						img(src="img/logo.png", alt="logo")
				li.nav--item
					a(href="#") Каталог
				li.nav--item
					a(href="#") Конструктор
				li.nav--item
					a(href="#") о компании 
				li.nav--item
					a(href="#") доставка и оплата 
				li.nav--item
					a(href="#") контакты
				li.tel.nav--item
					a(href="tel:89203150276") 8(920)315-02-76
			a(href="").basket
				| Перейти в корзину
		section.section--top.section--top__nocounter
			h1.page-h1 
				|Доставка и оплата 
		section.section--benefits.section__separator.section__separator__h2
			h2.page-h2 Схема работы
		section.section--about
			img.sheme(src="img/sheme.png", alt="sheme")
			p.p-sheme.p1.text__black Соберите подарок в конструкторе или найдите подходящий в Каталоге
			p.p-sheme.p2.text__black Оформите заявку через сайт, указывая все необходимые контактные данные 
			p.p-sheme.p3.text__black С вами свяжется менеджер, для  уточнения  заказа, и предложит возможные скидки 
			p.p-sheme.p4.text__black Ваш заказ будет принят в работу на производство и упаковку 
			p.p-sheme.p5.text__black Оплатите и получите заказ домой или в офис в течение 3-ех дней 
	section.section--text
		h3 Условия доставки 
		br
		p.text__black Компания Snegoff осуществляет доставку новогодних подарков прямо к порогу офиса Вашей компании. Также возможная доставка подарков из конфет на дом. Оперативность доставки и сохранность каждого подарка - гарантируем!
		br
		p.text__black Условия доставки.
			br
			|- Бесплатная доставка всех новогодних подарков по России. Осуществляется с помощью собственного и/или привлеченного автотранспорта в рабочие дни с 9:00 до 18:00.
			br
			|- Срок поставки товаров - в течение 3-х рабочих дней с момента оплаты товара (при условии наличия готовых новогодних подарков на складе) либо по согласованию сторон. Доставка осуществляется в период: с 1 ноября по 31 декабря 2015г.
			br
			|- Доставка подарков осуществляется только “до подъезда”, выгрузка сладких новогодних подарков производится силами Заказчика
			br
			|- По желанию клиентов возможен самовывоз новогодних подарков с территории склада компании Snegoff.
		br
		p.text__black Мы рекомендуем заранее согласовывать график и дату доставки (получения со склада) сладких подарков.
			br
			|Для получения товара необходимо:
			br
			|- завизировать документы на товар печатью организации покупателя за подписью уполномоченного лица:
			br
			|- либо предоставить документ, удостоверяющий личность, и передать надлежаще оформленную доверенность на получателя подарков.
			br
			|- получатель подарков также должен иметь при себе договор, подписанный со стороны принимающей товар организации.
		br
		p.text__black ВНИМАНИЕ! Без документов новогодние подарки не выдаются! 
	section.section--text
		h3 Условия оплаты
		br
		p.text__black Безналичный платёж. После оформления заказа в интернет-магазине или через нашего оператора, вы получите на указанный вами электронный адрес  счет на оплату с указанием банковских реквизитов получателя. Оплачиваете полученный счет. По возможности, отправляете копию платежного поручения или иного подтверждающего оплату документа. После поступления денежных средств на наш расчетный счет вам поступит извещение - письмом на указанный e-mail и СМС на указанный телефон. Возвраты платежей осуществляются безналичным платежом на банковские реквизиты Плательщика. 
	section.section__separator.section__separator__end


	include blocks/footer 